.git
.gitignore
.cursorrules
.env
venv_wsl
__pycache__
*.pyc
*.pyo
*.pyd

TryOnHairstyle-master
Xây_dựng_hệ_thống_thử_kiểu_tóc_ảo_sử_dụng_mô_hình_khuếch_tán_Stable_Diffusion

backend/.env
backend/models
backend/data
backend/training/checkpoints
backend/training/output

frontend/node_modules
frontend/dist
